<template>
  <div class="home">
    <div
      class="record"
      v-for="(record, i) in records"
      :key="i"
    >
      <div>{{ record.title }}</div>
      <div>{{ record.description }}</div>
      <a :href="'/files/' + record.file" download>{{ record.file }}</a>
      <button
        @click="deleteRecord(i)"
      >
        Удалить
      </button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'home',
  data () {
    return {
      records: []
    }
  },
  mounted () {
    this.getRecords() 
  },
  methods: {
    getRecords () {
      axios.get('/api/records').then(({ data }) => {
        this.$set(this, 'records', data)
      })
    },
    deleteRecord (i) {
      axios.delete(`/api/records/${i}`).then(({ data }) => {
        this.getRecords()
      })
    }
  }
}
</script>
<style lang="scss">
  .record {
    text-align: left;
    margin-bottom: 10px;
    button {
      margin-top: 5px;
      display: block;
    }
  }
</style>