<template>
  <div class="uploader">
    <label>Название</label>
    <input type="text" v-model="form.title">
    <label>Описание</label>
    <textarea type="text" v-model="form.description" />
    <label>Файл</label>
    <input ref="file" type="file">
    <button @click="send">Отправить</button>
    <div class="errors">
      <div 
        v-for="(error, i) in errors" 
        :key="i" 
        class="error"
      >
        {{ error }}
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'Uploader',
  data () {
    return {
      form: {
        title: '',
        description: ''
      },
      errors: []
    }
  },
  methods: {
    send () {
      const files = this.$refs.file.files
      const formData = new FormData()
      this.errorChecks(files)
      if (this.errors.length === 0) {
        formData.append('file', files[0])
        formData.append('title', this.form.title)
        formData.append('description', this.form.description)
        axios.post('/api/records', formData).then(resp => {
          this.$router.push({ name: 'home' })
        })
      }
    },
    errorChecks (files) {
      this.errors = []
      if (!this.form.title) {
        this.errors.push('Укажите название')
        return true
      }
      if (files.length < 1) {
        this.errors.push('Загрузите файл')
        return true
      }
      if (files[0].type !== 'application/pdf') {
        this.errors.push('Загрузите PDF')
      }
      if (files[0].size > 10485760) {
        this.errors.push('Загрузите PDF поменьше')
      }
    }
  }
}
</script>
<style lang="scss">
  .uploader {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    label {
      width: 100%;
      margin: 5px 0;
    }
    button {
      margin-top: 10px;
    }
  }
  .errors {
    width: 300px;
  }
  .error {
    color: red;
  }
</style>
